<launch>
	<include file="$(find rbx1_bringup)/launch/turtlebot_minimal_kobuki.launch"/>
	<include file="$(find rplidar_ros)/launch/rplidar.launch"/>
	<include file="$(find rbx1_nav)/launch/gmapping_demo.launch"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rbx1_nav)/nav_test.rviz" />
</launch>
